<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="single_arm_6dof">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import single_arm_6dof urdf file -->
    <xacro:include filename="$(find single_arm_6dof_description)/urdf/single_arm_6dof.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="single_arm_6dof.ros2_control.xacro" />


    <xacro:single_arm_6dof_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
